* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #34547a;
  --color-text: #333;
  --color-bg: #ffffff;
  --color-muted: #727272;

  --container-width: 1110px;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-text);
  background-color: var(--color-bg);
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  width: min(1110px, calc(100% - 40px));
  margin: 0 auto;
}

.header {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  background-color: #eeeff1;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  gap: 80px;
}

.nav__link:hover,
.nav__link:focus {
  text-decoration: underline;
}

.nav__link:active {
  opacity: 0.75;
  padding-bottom: 4px;
}

.nav__link {
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}

.hero {
  padding: 100px 0;
  background-color: #eeeff1;
}

.hero__title {
  font-size: 32px;
  margin-bottom: 20px;
}

.hero__text {
  color: var(--color-muted);
  margin-bottom: 30px;
  max-width: 540px;
}

.btn {
  display: inline-block;
  padding: 12px 32px;
  font-weight: 500;
}

.btn--primary {
  background-color: var(--color-primary);
  color: #ffffff;
  text-transform: uppercase;
}

.btn--primary:hover,
.btn--primary:focus-visible {
  opacity: 0.9;
}

.btn--primary:active {
  opacity: 0.8;
}

.about {
  background-color: #f9f9f9;
  margin: 0 auto;
  text-align: center;
  padding: 112px 0 110px;
}

.about .container {
  max-width: 540px;
  text-align: center;
  margin: 0 auto;
}

.about__title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
}

.about__text {
  color: var(--color-muted);
  font-size: 16px;
}

.stats {
  background-color: #34547a;
  padding: 100px 0;
}

.stats__container {
  display: flex;
  justify-content: space-between;
  gap: 49px;
}

.stats__item {
  display: flex;
  color: #ffffff;
}

.stats__item span {
  font-weight: 200;
}

.stats__svg {
  margin-right: 20px;
}

.how {
  background-color: #f9f9f9;
  padding: 80px 0;
  text-align: center;
}

.how__title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  margin-bottom: 16px;
}

.how__text {
  max-width: 540px;
  margin: 0 auto 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.64;
  text-align: center;
  color: var(--color-muted);
}

.how__video-wrapper {
  position: relative;
  width: 100%;
  max-width: 1110px;
  height: 600px;
  margin: 0 auto;
  overflow: hidden;
}

.how__video-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.how__video-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  z-index: 1;
}

.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: none;
  font-size: 24px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.85);
}

.footer {
  background-color: var(--color-primary);
  color: #fff;
  padding: 30px 0;
}

.footer__name {
  font-size: 20px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__copy {
  font-size: 13px;
}
