* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #34547a;
  --color-text: #333;
  --color-bg: #ffffff;
  --color-muted: #727272;

  --container-width: 1110px;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-text);
  background-color: var(--color-bg);
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  background-color: #eeeff1;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 700;
  font-size: 20px;
}

.nav__list {
  display: flex;
  gap: 30px;
}

.nav__link {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
}

.hero {
  padding: 100px 0;
  background-color: #eeeff1;
}

.hero__container {
  max-width: 600px;
}

.hero__title {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero__description {
  color: var(--color-muted);
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  padding: 12px 32px;
  font-weight: 500;
}

.btn--primary {
  background-color: var(--color-primary);
  color: #fff;
}

.about__me {
  max-width: 540px;
  margin: 0 auto;
  text-align: center;
  padding: 119px 0 110px;
}

.about__me_p {
  color: #727272;
}

section {
  padding: 80px 0;
}

.stats {
  background-color: #34547a;
  padding: 100px 0;
}

.section-title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 40px;
}

.stats__container {
  display: flex;
  justify-content: space-between;
  gap: 49px;
}

.stat {
  display: flex;
  color: #ffffff;
}

.stat span {
  font-weight: 200;
}

.svg_project {
  margin-right: 20px;
}

.footer {
  background-color: var(--color-primary);
  color: #fff;
  padding: 30px 0;
}

.footer__container {
  text-align: center;
}

.how-i-work{
  background-color: #eeeff1;
  padding: 80px 0;
  text-align: center;
}

.how-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  margin-bottom: 16px;
}
.how-text {
  max-width: 540px;
  margin: 0 auto 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.64;
  text-align: center;
  color: #272725;
}
.video-wrapper {
  position: relative;
  width: 100%;
max-width: 1110px;
height: 600px;
margin: 0 auto;
overflow: hidden;
}
.video-wrapper img {
width: 100%;
height: 100%;
object-fit: cover;
display: block;
}
.video-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  z-index: 1;
}
.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;

width: 64px;
height: 64px;
border-radius: 50%;
border: none;
font-size: 24px;
cursor: pointer;
background: rgba(255, 255, 255, 0.85);
}